body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, Ubuntu;
    margin: 0;
}

body > * {
    padding-right: 350px;
    padding-left: 350px;
}


a {
    text-decoration: none;
    color: #e5e7eb
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header {
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    justify-content: space-between;
    padding-top: 28px;
    padding-bottom: 28px;
}

.header-left {
    font-size: 24px;
    color: #f9faf8;
}

.header-right {
   display: flex;
   gap: 24px;
}

.hero-page {
    background-color: #1f2937;
    color:#e5e7eb;
    display: flex;
    justify-content: space-between;
}

.hero-container > * {
    margin-top: 8px;
    margin-bottom   : 8px;
}

.hero-title {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-text {
    font-size: 18px;
    color: #e5e7eb;
}

button.hero-button {
  background: royalblue;
  border: 1px solid royalblue;
  padding: 8px 16px;
  border-radius: 8px;
  color: white;
  flex: none;
}

.hero-placeholder {
    background-color: grey;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

